streamlit_lottie==0.0.2
streamlit
requests==2.24.0
Pillow==8.4.0
protobuf~=3.19.0
watchdog==2.1.8
keras==2.10.0
Keras-Preprocessing==1.1.2
streamlit-chat==0.0.2.1
streamlit-option-menu==0.3.2
tensorflow==2.10.0
torch
transformers
